<div class="mt-4">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Search Something</label>
        <input type="text" name="age">
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter somthing">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>